<h1>Asciify 사용</h1>
<p>영어/문자를 입력하세요.</p><br>
<form action='/asciify/show' id="artii">
    Input the String<br>
    <input type='text' name='content'><br>
    Font:
    <select name='font' form="artii">
      <option value="big">BIG</option>
      <option value="thin">THIN</option>
      <option value="standard">NORMAL</option>
      <option value="slant">SLANT</option>
    </select>
    
    <input type='submit' value='생성'>
</form>
